<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
<link rel='shortcut icon' href='/assets/images/favicon.ico'>
<link rel='icon' sizes='16x16' type='image/png' href='/assets/images/favicon-16x16.png'>
<link rel='icon' sizes='32x32' type='image/png' href='/assets/images/favicon-32x32.png'>
<link rel='manifest' href='/assets/site.webmanifest'>

<style>
    .side-by-side-container {
      display: flex;
    }
  
    .side-by-side-item {
      flex: 1;
      width: 48%;
      margin-right: 2%;
    }

    .float-right-item {
      float: right;
      margin-left: 0.5em;
    }
  </style>  