<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"/>
<link rel='shortcut icon' href='/assets/images/favicon.ico'>
<link rel='icon' sizes='16x16' type='image/png' href='/assets/images/favicon-16x16.png'>
<link rel='icon' sizes='32x32' type='image/png' href='/assets/images/favicon-32x32.png'>
<link rel='manifest' href='/assets/site.webmanifest'>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<style>
    .side-by-side-container {
      display: flex;
    }
  
    .side-by-side-item {
      flex: 1;
      width: 48%;
      margin-right: 2%;
    }

    .float-right-item {
      float: right;
      margin-left: 0.5em;
    }

    .mfp-video-container {
      position: relative;
      padding-top: 56.25%; /* For 16:9 aspect ratio */
    }

    .mfp-video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

    .mfp-figure {
      line-height: 0;
      position: relative;
      margin: 0 auto;
      max-width: 100%;
    }

    .mfp-figure:after {
      content: '';
      position: absolute;
      left: 0;
      top: 40px;
      bottom: 40px;
      display: block;
      right: 0;
      width: auto;
      height: auto;
      z-index: -1;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      background: #444;
    }

    /* Override the grey background for video popups */
    .mfp-video-container .mfp-figure:after {
      display: none;
    }
    /* Optional: Makes the popup background darker */
    .mfp-bg {
      opacity: 0.9;
    }
  </style>  