{% if include.id %}
  {% assign gallery = page[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

{% if include.layout %}
  {% assign gallery_layout = include.layout %}
{% else %}
  {% if gallery.size == 2 %}
    {% assign gallery_layout = 'half' %}
  {% elsif gallery.size >= 3 %}
    {% assign gallery_layout = 'third' %}
  {% else %}
    {% assign gallery_layout = '' %}
  {% endif %}
{% endif %}

{% capture page_date %}{{ page.date | date: "%Y-%m-%d" }}{% endcapture %}

<figure class="{{ gallery_layout }} {{ include.class }}">
  {% for img in gallery %}
    {% assign ext = img | split: "." | last %}
    {% if ext == "mp4" %}
      <a href="/assets/posts/{{ page_date }}{{ img | relative_url }}" class="my-popup">
        <video controls>
          <source src="/assets/posts/{{ page_date }}{{ img | relative_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </a>
      {% else %}
      <a href="/assets/posts/{{ page_date }}{{ img | relative_url }}" class="my-popup">
        <img src="/assets/posts/{{ page_date }}{{ img | relative_url }}">
      </a>
    {% endif %}
  {% endfor %}
</figure>